<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
     <extension
           point="com.compuware.frameworks.hostservices.HostCredentialProvider">
        <CredentialProvider
              class="com.compuware.frameworks.hostservices.client.ui.credentials.passticket.CredentialProviderPassTicket"
              description="PassTicket Credential Provider"
              providerid="HostExplorer.CredentialProvider.PassTicket"
              singleton="true">
        </CredentialProvider>
     </extension>
</plugin>
